<div class="container">
  <h1>チャット一覧</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/OoXc0ZBXEx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="chat-input">
    </div>
    <button class="btn btn-primary" id="chat-button">送信</button>
  </form>
  <div id="messages">
    <ul class="list-group">
      <%= render @messages %>
    </ul>
  </div>
</div>